header{ 
    text-align: center; 
    background-color: #501b1d; 
    color: #ADADAD; 
    padding-bottom: 8px; 
    font-family: 'Barlow', sans-serif; 
    letter-spacing: 3px;
}  

h1 { 
    font-size: 40px; 
    padding-bottom: 15px;

} 

.here-button {
    padding: 0;
    border: none;
    background: none; 
    cursor: pointer;
    font-size: 22px; 
    margin-right: 0px; 
    color: purple;
}

button { 
    padding: 0;
    border: none;
    background: none; 
    cursor: pointer; 
    margin-right: 40px; 
    font-size: 18px; 
    color: #ADADAD; 
    
} 



.Pop-Link { 
    margin-right: 10px;
}

button:hover { 
    text-decoration: underline;
}

section { 
    margin: 50px 250px; 
    text-align: center; 
    font-size: 22px; 
    font-family: 'Barlow', sans-serif; 
    line-height: 35px;
    

} 

.Rapper { 
    margin: 30px 0px 20px;
    height: 350px; 
    width: 600px;
} 

.Rockstar {
    margin: 30px 0px 20px;
    height: 350px;
    width: 600px;
}

.Home-screen { 
    display: visible;
} 

h3 { 
border-bottom: 3px solid lightgrey; 
width: 700px;  


} 

.Counter-Display { 
    display: none; 
    position: absolute;
    text-align: center;
}