header{ 
    text-align: center; 
    visibility: visible;
} 

section { 
    margin-top: 50px; 
    text-align: center; 
    visibility: visible;

} 

.Rap-Link { 
    background: none; 
    border: none;
}