header{ 
    text-align: center; 
    
} 

section { 
    margin-top: 50px; 
    text-align: center; 
   

} 

.Home-screen { 
    display: visible;
} 

h3 { 
border-bottom: 3px solid lightgrey; 
width: 700px;  


}